.categoryadd-c {
    padding: 0 0 0 20%;
}

.categoryadd-c__header {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0 0 30px;
}

.categoryadd-c__inputbox {
    width: 75%;
    background-color: red;
    margin: 30px 0 0 30px;
    padding: 60px;
    border-radius: 8px;
    background: #282F44;
    display: flex;
    flex-direction: column;
}

.categoryadd-c__inputimage {
    width: 100%;
    aspect-ratio: 9/4.5;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(0.20000000298023224px);
    border-radius: 8px;
    position: relative;
}

.categoryadd-c__imagepreview {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.categoryadd-c__removeimagebutton {
    margin: 30px 0 0 0;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #FFF;
    align-self: flex-start;
}

.categoryadd-c__inputtitle{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;   
    align-items: center;
}

.categoryadd-c__inputtitle div {
    width: 15%;
}

.categoryadd-c__inputtitle input {
    border-radius: 8px;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    padding: 13px 20px;
    background: #D9D9D9;
    color: #000;
    font-size: 22px;
}

.categoryadd-c__inputtitle input:hover {
    border: none;
    outline: none;
}


.categoryadd-c__inputcontent textarea{
    border-radius: 8px;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    padding: 13px 20px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(0.20000000298023224px);
    color: rgba(255, 255, 255, 0.60);
}


.categoryadd-c__submitbutton {
    padding: 10px 0;
    border-radius: 8px;
    font-size: 26px;
    margin-top: 30px;
} 